body{
    /*
    background-color: aqua;
    margin: 0;
    padding: 0;
    */
    background: rgb(95, 94, 117);
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
}

/* #################################### */

main{
    background-color: gray;
}

nav{
    background-color: pink;
}

footer{
    background-color: yellow;
    min-height: 32px;
    text-align: center;
}

#s1{
    font-size: 20px;
    color: orange;

    cursor: pointer;
}

#s1:hover{
    color: red;
}

.enNegrita{
    font-weight: bolder;
    color: white;

    cursor: pointer;
}

.enNegrita:hover{
    color: reds;
}